<div class="flex items-center flex-col text-white justify-center m-5">
    <h1 class="font-bold text-5xl">Welkom</h1>
    <div class="text-2xl text-center m-5">
        <p class="m-5">
            Wij hebben voor onze opdracht een applicatie ontwikkeld voor de Belgische Regering van 2020-2024. Onze applicatie heeft 4 micro-services geïmplementeerd die de nodige functionaliteiten aanbied. In onze applicatie kunnen de verschillende partijen, regeringen, ministers en ook natuurlijk alle leden worden gemanaged.
            Elke micro-service bied de benodigde functionaliteiten aan om alles succesvol te laten verlopen. Alles loopt dan via een API-Gateway die alle routing handelt. Iedere persoon kan op onze applicatie komen om alles te bekijken, maar enkel de admins kunnen de data aanpassen. Wij maken gebruik van Oauth beveliging om de data veilig en integer te houden.
        </p>
    </div>
</div>
