<footer class="text-white bg-gray-950 p-5">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <!-- Flexbox Layout for Centering -->
    <div class="flex flex-col items-center md:flex-row md:justify-center md:space-x-32">
      <!-- First Name and Links -->
      <div class="flex flex-col items-center m-5 md:m-0">
        <h3 class="text-lg font-semibold text-white">Jorrit Geurts</h3>
        <ul class="mt-4 flex space-x-4">
          <li>
            <a href="https://www.linkedin.com/in/jorrit-geurts-12a138294" target="_blank" class="text-gray-400 hover:text-white transition">
              <i class="fab fa-xl fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/JorritGeurts" target="_blank" class="text-gray-400 hover:text-white transition">
              <i class="fab fa-xl fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://fritfest.com" target="_blank" class="text-gray-400 hover:text-white transition">
              <i class="fa-solid fa-xl fa-globe"></i>
            </a>
          </li>
        </ul>
      </div>

      <!-- Second Name and Links -->
      <div class="flex flex-col items-center m-5 md:m-0">
        <h3 class="text-lg font-semibold text-white">Arno Van haecke</h3>
        <ul class="mt-4 flex space-x-4">
          <li>
            <a href="https://www.linkedin.com/in/arno-van-haecke-b15140294" target="_blank" class="text-gray-400 hover:text-white transition">
              <i class="fab fa-xl fa-linkedin-in"></i>
            </a>
          </li>
          <li>
            <a href="https://github.com/Van-haecke-Arno" target="_blank" class="text-gray-400 hover:text-white transition">
              <i class="fab fa-xl fa-github"></i>
            </a>
          </li>
          <li>
            <a href="https://portfolio-avh.netlify.app" target="_blank" class="text-gray-400 hover:text-white transition">
              <i class="fa-solid fa-xl fa-globe"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Copyright Section -->
    <div class="mt-10 border-t italic border-gray-800 pt-6 text-center">
      © 2024 Gemaakt door Jorrit Geurs & Arno Van haecke. Alle rechten voorbehouden.
    </div>
  </div>
</footer>
